<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict>
		<key>tumblr widget.js:15</key>
		<string>-clearText</string>
	</dict>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>8</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>20</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>20</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {760, 203}}</string>
			<string>{{0, 213}, {760, 380}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>41a773f169754307</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/private/tmp/Dashcode/.tumblr widget.wdgtprojgCrHcx/tumblr widget.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>2</integer>
		<key>percent-x</key>
		<real>0.36328125</real>
		<key>percent-y</key>
		<real>0.2213541716337204</real>
		<key>pos-x</key>
		<integer>408</integer>
		<key>pos-y</key>
		<integer>170</integer>
	</dict>
	<key>EvaluatorFrame</key>
	<string>74 445 479 226 0 0 1024 746 </string>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>15</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>15</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {243, 614}}</string>
			<string>{{244, 0}, {761, 614}}</string>
		</array>
	</dict>
	<key>MainWindowFrame</key>
	<string>10 111 1004 635 0 0 1024 746 </string>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>9</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>15</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>15</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {245, 299}}</string>
			<string>{{0, 309}, {245, 284}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
	</array>
	<key>Opened Steps</key>
	<array>
		<integer>3</integer>
	</array>
</dict>
</plist>
