body {
	margin: 0px;
}

#frontImg {
	position: absolute;
	display: block;
}

.info {
	position: absolute;
	right: 15px;
	bottom: 18px;
	width: 13px;
	height: 13px;
}

#back {
	display: none;
}

#backImg {
	position: absolute;
	display: block;
	left: 0px;
	right: 8px;
	width: auto;
}

.backDevelopedWith {
	position: absolute;
	height: 36px;
	width: 110px;
	top: 215px;
	right: 113px;
	margin-left: auto;
	left: 21px;
	margin-right: auto;
}

#subject {
	position: absolute;
	color: black;
	font-size: 10pt;
	top: 44px;
	left: 19px;
	width: 200px;
	font-family: Helvetica;
	white-space: nowrap;
}

#progress {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	left: 19px;
	top: 239px;
	color: rgb(163, 163, 163);
}

#textContent {
	position: absolute;
	font-size: 10pt;
	color: rgb(0, 0, 0);
	font-family: Helvetica;
	left: 19px;
	top: 75px;
	width: 200px;
	height: 148px;
}

#tumblrEmail {
	position: absolute;
	color: black;
	font-size: 10pt;
	font-family: Helvetica;
	width: 126px;
	left: 89px;
	top: 42px;
}

#tumblrPassword {
	position: absolute;
	color: black;
	font-size: 10pt;
	font-family: Helvetica;
	width: 126px;
	left: 89px;
	top: 73px;
}

#img {
	width: 75px !important;
	height: 20px !important;
	position: absolute;
	left: 28px;
	top: 17px;
}

#infobutton {
	width: 13px;
	height: 13px;
	position: absolute;
	left: 206px;
	top: 17px;
}

#done {
	position: absolute;
	left: 165px;
	top: 228px;
}

#postButton {
	position: absolute;
	font-size: 12px;
	text-align: center;
	top: 234px;
	font-family: Helvetica-Bold;
	color: rgb(108, 108, 108);
	left: 188px;
	width: 30px;
}

#clearButton {
	position: absolute;
	font-size: 12px;
	text-align: center;
	font-family: Helvetica-Bold;
	color: rgb(108, 108, 108);
	top: 234px;
	width: 30px;
	left: 159px;
}

#textEmail {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(255, 255, 255);
	text-shadow: rgb(127, 127, 127) 0px 0px 0px;
	left: 21px;
	top: 47px;
}

#textPasswd {
	position: absolute;
	font-family: Helvetica Neue;
	font-size: 10pt;
	color: rgb(255, 255, 255);
	text-shadow: rgb(127, 127, 127) 0px 0px 0px;
	left: 21px;
	top: 78px;
}

